@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgb(192, 98, 211) 0%,
    rgb(128, 16, 169) 100%
  );
}

.title {
  font-size: 2.5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.board {
  display: grid;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  padding-bottom: 229px;
  grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.cirlce .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background: rgba(255, 255, 255, 0.3) !important;
}

.cell {
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

/* x */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  content: "";
  height: calc(100px * 0.15);
  width: calc(100px * 0.9);
  background: white;
  position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* Circle */
.cell.circle::before,
.cell.circle::after,
.board.cirlce .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  content: "";
  height: calc(100px * 0.9);
  width: calc(100px * 0.9);
  background: white;
  position: absolute;
  border-radius: 50%;
}

.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}
.winning-message-button {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  background-color: rgb(128, 16, 169);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: #fff;
}

.winning-message-button:hover {
  background-color: #fff;
  color: rgb(128, 16, 169);
}

.winning-message-text {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
}

.namePlayer {
  font-weight: 700;
  font-size: 2.5rem;
  display: none;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.input-name {
  border-radius: 5px;
  border: 0 none;
  box-shadow: 0 0 0 0;
  outline: 0;
  padding: 10px;
  margin: 8px;
}

.input-name::placeholder {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: rgb(153, 147, 147);
}

.start-button {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  background-color: rgb(128, 16, 169);
  padding: 2px 25px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: #fff;
}

#reset {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  padding: 2px 25px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  margin: 8px;
  color: rgb(128, 16, 169);
}

.start-button:hover {
  background-color: #fff;
  color: rgb(128, 16, 169);
}

.show-namePlayer {
  display: flex;
}

.show-winning-message {
  display: flex;
}
